{% extends 'base.html.twig' %}

{% block title %}Hello DataController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container mt-5">
<div class="row">
<div class="col">
    <h2 class="text-center">Liste des conventions</h2>
    <table id="convention" class="table table-striped" style="width:100%"></table>
<div>
</div>
</div>
{% endblock %}
